<div class="form-box" id="login-box">
  <% resource.errors.full_messages.each do |alert| %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <div class="header"><%= link_to image_tag('logos/symbol-white-blank-holoteca.png'), root_path, class: 'logo' %></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="body bg-gray">
      <div class="form-group">
        <label>Email cadastrado no sistema</label>
        <%= f.email_field :email, placeholder: 'Email', class: 'form-control', autofocus: true %>
      </div>
    </div>

    <div class="footer">
      <%= f.submit "Me envie instruções de recuperação de senha", class: 'btn btn-block' %>
      <p><%= link_to "Login", new_session_path(resource_name) %></p>
    </div>
  <% end %>
</div>