<%
  seo [
    { property: 'description', content: '' },
    { property: 'og:title', content: 'Holoteca', type: 'property' },
    { property: 'og:url', content: url_for(only_path: true), type: 'property' },
    { property: 'og:image', content: '', type: 'property' },
    { property: 'og:description', content: '', type: 'property' }
  ]
  title 'Holoteca'
%>

<div class="posts blog-masonry">
  <div class="row">

  <% @articles.each do |article| %>
    <article class="post col-sm-6 col-md-6">
      <div class="entry-image">
        <div class="entry-category">
          <% if article.category %><%= link_to article.category.name, category_path(article.category) %><% end %>
        </div>
        <%= link_to article_path(article), title: article.title do %>
          <%= image_tag cover(article.cover_url), size: '320x282', alt: article.title %>
          <div class="overlay"><i class="fa fa-plus-circle"></i></div>
        <% end %>
      </div>

      <div class="entry-main">
        <h2 class="entry-title">
          <%= link_to article.title, article_path(article) %>
        </h2>
        <div class="entry-meta">
          <span class="entry-date updated">
            <%= link_to article_path(article), title: article.title do %>
              <i class="fa fa-clock-o"></i>
              <time datetime="<%= moment_for(article.published_at) %>"><%= date_for article.published_at %></time>
            <% end %>
          </span>
          <span class="vcard">
            <%= link_to author_path(article.author), class: 'url fn', title: article.author.name do %>
              <i class="fa fa-user"></i>
              <span><%= article.author.name %></span>
            <% end %>
          </span>
        </div>
        <div class="entry-content"><%= raw article.summary %></div>
      </div>
    </article>
  <% end %>

  </div>
</div>
