<div class="box box-danger">
  <%= form_for([:admin, resource], html: { role: :form }) do |f| %>
    <div class="box-header">
      <h3 class="box-title">Novo Artigo</h3>
    </div>
    <div class="box-body pad">
      <div class='row'>
        <div class="form-group col-md-6">
          <%= f.label :category, 'Categoria' %>
          <%= f.select :category, Category.all.collect{ |category| [category.name, category.id] }, { selected: resource.category.try(:id) }, { class: 'form-control', required: true } %>
        </div>
        <div class="form-group col-md-6">
          <%= f.label :author, 'Autor' %>
          <%= f.select :author, User.all.collect{ |author| [author.name, author.id] }, { selected: current_user.id }, { class: 'form-control', required: true } %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :title, 'Título' %>
        <%= f.text_field :title, placeholder: 'Título', class: 'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :summary, 'Resumo' %> <i> (Chamada)</i>
        <%= f.text_field :summary, placeholder: 'Resumo', class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :body, 'Texto' %>
        <%= f.text_area :body, class: 'form-control', placeholder: 'Lorem Ipsum', style: "width: 100%; height: 600px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" %>
      </div>

      <div class="form-group">
        <%= f.label :tags, 'Tags' %>
        <%= f.text_field :tags, placeholder: 'Adicionar Tag', class: 'form-control', data: { role: 'tagsinput' }, value: (resource.tags.empty? ? '' : resource.taggable) %>
      </div>

      <div class="form-group">
        <label>
          <%= f.check_box :published, class: 'flat-red' %>
          Publicar?
        </label>
      </div>
    </div>
    <div class="box-footer">
      <%= f.submit "Adicionar", class: 'btn btn-default' %>
    </div>
  <% end %>
</div>