<section class="content-header">
  <h1>Artigos <small>Todos</small></h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header">
            <h3 class="box-title">Artigos</h3>
            <div class="box-tools">
              <%= link_to 'Novo Artigo', new_admin_article_path, class: 'btn btn-sm btn-default pull-right' %>
              <!--
              TODO: search
                <div class="input-group">
                  <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              -->
            </div>
        </div>

        <div class="box-body table-responsive">
          <table class="table table-hover">
            <tr>
              <th>Título</th>
              <th>Autor</th>
              <th>Categoria</th>
              <th>Data</th>
              <th>Status</th>
              <th></th>
            </tr>
            <% collection.each do |article| %>
              <tr>
                <td><%= link_to article.title, admin_article_path(article) %></td>
                <td><%= article.author.name %></td>
                <td><%= article.category.try :name %></td>
                <td><%= date_for article.published_at %></td>
                <td><%= label_for article.published %></td>
                <td>
                  <div class="btn-group">
                    <%= link_to raw('<i class="fa fa-external-link"> Ver no site </i>'), article_path(article), class: 'btn btn-sm btn-default' %>
                    <%= link_to raw('<i class="fa fa-edit"> Editar </i>'), edit_admin_article_path(article), class: 'btn btn-sm btn-default' %>
                    <%= link_to raw('<i class="fa fa-times"> Remover</i>'), admin_article_path(article), class: 'btn btn-sm btn-default', method: :delete, data: { confirm: 'Tem certeza?' } %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>