<div id="sidebar" class="rs col-md-4">
  <ul>
    <!--  TODO: search
    <li id="search-6" class="widget widget_search">
      <form action="http://demo.gawibowo.com/entrance/" class="searchform" method="get" role="search">
        <div class="clearfix">
          <input type="text" class="s" name="s" placeholder="Search...">
          <button type="submit" class="searchsubmit"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li>
    -->

  <%= render partial: 'shared/featured', locals: { resources: @featured } if @featured %>
  <%= render partial: 'shared/featured', locals: { resources: @related } if @related %>

  <li class='fb'>
    <div class="fb-like-box" data-href="https://www.facebook.com/HolotecaHQ" data-width="290" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </li>


  <% cache('lastest_posts', skip_digest: true) do %>
    <li id="g7_posts-12" class="widget widget_g7_posts">
      <h2 class="widgettitle"><span>Últimas</span></h2>
      <ul>
        <% @lastest.each do |article| %>
          <% cache([article, "thumb"]) do %>
          <li class="<%= article.category.to_param %>">
            <div class="block-content">
              <div class="block-category">
                <% if article.category %><%= link_to article.category.name, category_path(article.category) %><% end %>
              </div>
              <h4 class="block-heading">
                <%= link_to article.title, article_path(article), title: article.title %>
              </h4>
              <div class="clear"></div>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>

    <li>
      <a class="twitter-timeline" href="https://twitter.com/Holoteca" data-widget-id="454256714292809729">Tweets by @Holoteca</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>

    <li>
      <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-9856374304140488"
         data-ad-slot="1836753889"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </li>

  <li>
    <div class="g-page" data-href="//plus.google.com/u/0/104599330917809356324" data-layout="landscape" data-showtagline="false" data-rel="publisher"></div>
    <script type="text/javascript">
      window.___gcfg = {lang: 'pt-BR'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </li>

  <li>
    <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-9856374304140488"
       data-ad-slot="3313487089"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </li>

  </ul>
</div>
