<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Painel Holoteca</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="robots" content="noindex" />
    <%= stylesheet_link_tag    "admin", media: "all" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  </head>

  <body class="skin-blue but-red fixed">
    <header class="header">
      <%= link_to image_tag('logos/brand-white.png'), root_path, class: 'logo' %>
      <nav class="navbar navbar-static-top" role="navigation">
        <%= render 'admin/shared/sidebar_toggle' %>
        <%= render 'admin/shared/navbar_right' %>
      </nav>
    </header>

    <div class="wrapper row-offcanvas row-offcanvas-left">
      <%= render 'admin/shared/sidebar_left' %>
      <aside class="right-side">
        <%= render 'admin/shared/flash_messages' %>
        <%= yield %>
      </aside>
    </div><!-- ./wrapper -->

    <%= javascript_include_tag "admin" %>
  </body>
</html>