<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= yield(:title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="copyright" content="Holoteca">
    <meta name="google-site-verification" content="DKz_CEt64MdDmCsB91kLDxqsswCCAxRr9qERVT2Wrt8" />
    <%= yield :metatags -%>
    <meta property="fb:app_id" content="446744068790146"/>
    <meta property="og:url" content="<%= url(request.path) %>" />
    <meta property="og:type" content="website" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= yield :stylesheets %>
    <link rel="canonical" href="<%= url(request.path) %>">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <%= render 'shared/segmentio' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='page stretched'>
    <div id='fb-root'></div>

    <header id="top">
      <%= link_to image_tag('logos/logo-white-blank-holoteca.png', size: '300x57', alt: 'Holoteca', class: 'logo'), root_path %>
    </header>

    <nav id="mainnav">
      <%= render 'shared/menu' %>
    </nav>

    <div id="wrapper">
      <div class="container">
        <main>
          <div class='row'>
            <div id='content' class='col-md-8'><%= yield %></div>
            <%= render 'shared/sidebar' %>
          </div>
        </main>
      </div>

      <%= render 'shared/footer' %>
    </div>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render 'shared/shareholic' %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2347706-21', 'holoteca.com.br');
      ga('send', 'pageview');
    </script>
  </body>
</html>
